/* ******GLOBAL******** */

html {
  background-color: #A9AAD2
  /* height: 100% */
}

body {
  border: 1px red solid;
  font: "Open Sans", light;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin: 0;
}

/* ****** ASIDE SECTION ******  */

aside {
  background-color: #1F1F3d;
  color: #FFFFFF;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 18em;
  height: 58em;
}

h2 {
  padding-right: 1em;
  padding-left: 1em;
}

.starred-ideas-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 1px #353567 solid;
  border-bottom: 1px #353567 solid;
}

.filter-starred-ideas {
  font-weight: 600;
  color: #BFBFDD;
  padding-left: 1.5em;
  padding-top: 1.5em;
}

.show-starred-button {
  font-weight: 600;
  font-size: 18px;
  white-space: nowrap;
  color: #E9E9F3;
  background-color: #5356A4;
  border: 0;
  border-radius: 2px;
  padding: 1em 3em;
  margin: 2em 1em 2em 1em;
}

/* ****** RIGHT SIDE SECTIONS ******  */

section {
  border: 1px blue solid;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: #EAEAF4;
}

/* ****** CUSTOM FORM INPUTS ******  */

.wrapper {
  background-color: #A9AAD2;
  height: 23em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-form {
  border: 3px pink solid;
  background-color: #A9AAD2;
  color: #1F1F3D;
  height: 23em;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
};

.body-input {
  margin-top: 2em;
  border: 2em solid #1F1F3D;
  display: flex;
  justify-content: space-around;
}

.save-button {
    margin-top: 2em;
    background-color:  #363667;
    color: #FFFFFF;
    font-size: 16px;
    border: 0;
    height: 2.5em;
}

/* ****** SEARCH IDEAS ******  */


span {
  margin-top: 2em;
  border: 5px;
  border-color: #363667;
  height: 2.5em;
  width: 100%;
  display: flex;
  align-items: stretch;
}
.search-button {
  background: url(assets/search.svg);
  background-position: center;
  background-size: 75%;
  border: 0;
  background-repeat: no-repeat;
  background-color:  #363667;
  height: 2.85em;
  width: 2.5em;
  padding-bottom: 2px;
}

.search-input {
  height: 2.5em;
  width: 100%;

}

/* ****** CUSTOM FORM INPUTS ******  */

article {
  width: 100%;
  align-items: stretch;
  display: flex;
  justify-content: center;
};

/* ****** MINI CUSTOM CARD ******  */

.title {
  margin-left: 1em;
  font-weight: bold;
  color: #1F1F3D;
}

p {
  margin-left: 1em;
}

.comment-button {
  background-color: #5356A5;
  color: #FFFFFF;
  font-weight: bold;
  width: 100%;
  height: 2.5em;
}

article > .custom-card {
  height: 15em;
  width: 12em;
  border: 2px #1F1F3D solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  background-color: #1F1F3D;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 2em;
}

.favorite-button {
  background: url(assets/star.svg);
  background-repeat: no-repeat;
  border: none;
  width: 82%;
}

.remove-button {
  background: url(assets/delete-active.svg);
  background-repeat: no-repeat;
  border: none;
  width: 18%;
}

footer {
  background-color: #5356A4;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 2em;
  border-top: 1px #1f1f3d solid;
}

.comment-button {
  background: url(assets/comment.svg);
  background-repeat: no-repeat;
  width: 18%;
  border: 0;
}

.comment-label {
    color: #E9E9F3;
    font-weight: bold;
    margin-top: .5em;
    width: 82%;
    height: 2.5em;
  border: 0;
}
