/* ****** GENERAL STYLES ******** */

html {
  height: 100%;
  background-color: #EAEAF4;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin: 0;
  height: 100%;
  font-size: 1em;
}

/*  ASIDE SECTION  */

.show-starred-button {
  border: 0;
  padding: .5em 1em;
  margin: 1.5em 1em;
  background-color: #5356A4;
  white-space: nowrap;
  color: #E9E9F3;
  font-weight: bold;
  font-size: 1.15em;
}

.starred-ideas-box {
  display: flex;
  border-top: 1px #353567 solid;
  border-bottom: 1px #353567 solid;
  width: 100%;
  color: #E9E9F3;
  flex-direction: column;
}

.aside-title {
  padding-left: 1em;
  font-size: 1.2em;
}

.aside-container {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  width: 16em;
  height: 100vh;
  color: #E9E9F3;
  background-color: #1F1F3d;
  font-weight: bold;
}

.filter-starred-ideas {
  padding-left: 1.5em;
  padding-top: 1.5em;
  color: #BFBFDD;
  font-size: .8em;
}

/*  RIGHT SIDE SECTIONS  */

.right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #EAEAF4;
}

/*  CUSTOM FORM SECTIONS  */

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 23em;
  width: 100%;
  background-color: #A9AAD2;
}

.custom-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 23em;
  width: 46%;
  color: #1F1F3D;
  background-color: #A9AAD2;
}

.form-label {
  margin-top: 1em;
  font-weight: bold;
}

.user-input {
  display: flex;
  justify-content: space-around;
  border: .2em solid #5356A4;
  border-radius: 3px;
  margin-top: .5em;
  height: 2.5em;
}

.body-input {
  height: 5em;
}

.save-button {
  border: .15em solid #5356A4;
  margin-top: 1em;
  height: 2.5em;
  color: #FFFFFF;
  background-color: #E7E7FF;
  cursor: not-allowed;
  font-size: 17px;
}

/*  SEARCH SECTION  */

.search-ideas {
  display: flex;
  align-items: center;
  border: .15em solid #5356A4;
  border-radius: 3px;
  margin-top: 1em;
  height: 2.5em;
  width: 99%;
  background-color:  #363667;
}

.search-input {
  border: 0;
  height: 2.85em;
  width: 100%;
  word-wrap: break-word;
  word-break: break-all;
}

.search-button {
  background: url(assets/search.svg);
  border: 0;
  background-size: 70%;
  padding-left: 0;
  width: 3.05em;
  height: 3.05em;
  background-position: center;
  background-repeat: no-repeat;
  background-color:  #363667;
}

.idea-box {
  width: 100%;
}

.idea-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: .75em;
}

/*  CUSTOM CARD  */

.custom-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px #1F1F3D solid;
  margin: .5em;
  height: 15em;
  width: 13.25em;
  color: #1F1F3D;
  background-color: #FFFFFF;
  word-wrap: break-word;
}

.card-buttons {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background-color: #1F1F3D;
  height: 1.7em;
}

.favorite-button {
  background: url(assets/star.svg);
  display: inline;
  border: none;
  width: 13%;
  background-repeat: no-repeat;
}

.filled-star {
  background: url(assets/star-active.svg);
  display: inline;
  border: none;
  width: 13%;
  background-repeat: no-repeat;
}

.remove-button {
  background: url(assets/delete.svg);
  border: none;
  width: 13%;
  background-repeat: no-repeat;
}

.card-title {
  color: #1F1F3D;
  font-size: 1.1em;
  font-weight: bold;
}

.card-idea {
  padding-left: 1em;
  font-weight: normal;
}

.comment-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-top: 1px #1f1f3d solid;
  height: 1.5em;
  background-color: #5356A4;
}

.comment-button {
  background: url(assets/comment.svg);
  border: 0;
  width: 18%;
  background-repeat: no-repeat;
}

.comment-label {
  border: 0;
  margin-top: .15em;
  width: 82%;
  height: 2.5em;
  color: #E9E9F3;
  font-size: .9em;
  font-weight: bold;
}

/* ****** EXTRA SPECIFICS ******** */

.hidden {
  display: none;
}
