/* ****** GENERAL STYLES ******** */
html {
  background-color: #A9AAD2;
  font-family: "Open Sans", sans-serif;
  height: 100%;
}
body {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin: 0;
  font-size: 1em;
}
/*  RIGHT SIDE SECTIONS  */
section {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: #EAEAF4;
}
/* ******** SITEWIDE ******** */
.starred-ideas-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 1px #353567 solid;
  border-bottom: 1px #353567 solid;
}
.wrapper {
  background-color: #A9AAD2;
  height: 23em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.custom-form {
  background-color: #A9AAD2;
  color: #1F1F3D;
  height: 23em;
  width: 46%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.search-ideas {
  margin-top: 1em;
  border: .15em solid #5356A4;
  border-radius: 3px;
  background-color:  #363667;
  height: 2.5em;
  width: 99%;
  display: flex;
  align-items: center;
}
.user-input {
  margin-top: .5em;
  border: .2em solid #5356A4;
  border-radius: 3px;
  display: flex;
  justify-content: space-around;
  height: 2.5em;
}
.idea-box > .idea-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: .75em;
}
.idea-box {
  width: 100%;
}
footer {
  background-color: #5356A4;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 2em;
  border-top: 1px #1f1f3d solid;
}
h2,
h3 {
  padding-left: 1em;
  padding-right: 1em;
}
/*  ASIDE SECTION  */
aside {
  background-color: #1F1F3d;
  color: #E9E9F3;
  width: 22em;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  grid-column: 1;
}
/*  SEARCH IDEAS  */
.search-button {
  background: url(assets/search.svg);
  background-position: center;
  background-size: 70%;
  border: 0;
  padding-left: 0;
  background-repeat: no-repeat;
  background-color:  #363667;
  width: 3.05em;
  height: 3.05em;
}
.search-input {
  height: 2.85em;
  width: 100%;
  height: 96%;
  border: 0;
}
/*  USER INPUT  */
.body-input {
  height: 5em;
}
.save-button {
  margin-top: 1em;
  background-color: #E7E7FF;
  color: #FFFFFF;
  font-size: 16px;
  border: .15em solid #5356A4;
  border-radius: 3px;
  height: 2.5em;
  cursor: not-allowed;
}
/*  STARRED IN ASIDE  */
.filter-starred-ideas {
  padding-left: 1.5em;
  padding-top: 1.5em;
}
label {
  margin-top: 1em;
  font-weight: bold;
}
.comment-button {
  background: url(assets/comment.svg);
  background-repeat: no-repeat;
  width: 18%;
  border: 0;
}
/*  CUSTOM CARD  */
article > .custom-card {
  height: 15em;
  width: 12em;
  border: 2px #1F1F3D solid;
  margin: .5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  word-wrap: break-word;
  color: #1F1F3D;
  background-color: #FFFFFF;
}
nav {
  background-color: #1F1F3D;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 2em;
}
.favorite-button {
  background: url(assets/star.svg);
  background-repeat: no-repeat;
  border: none;
  width: 18%;
  display: inline;
}
.filled-star {
  background: url(assets/star-active.svg);
  background-repeat: no-repeat;
  border: none;
  width: 18%;
  display: inline;
}
.filler {
  width: 66%
}
.remove-button {
  background: url(assets/delete.svg);
  background-repeat: no-repeat;
  border: none;
  width: 18%;
}
h3 {
  font-weight: bold;
  color: #1F1F3D;
}
p {
  font-weight: normal;
  padding-left: 1em;
}
.show-starred-button {
  white-space: nowrap;
  background-color: #5356A4;
  font-size: bold;
  color: #E9E9F3;
  border: 0;
  border-radius: 2px;
  padding: .5em 1.8em;
  margin: 2em 1em;
}
.comment-label {
  color: #E9E9F3;
  font-weight: bold;
  padding-bottom: 1em;
  width: 82%;
  height: 2.5em;
  border: 0;
}
/* ****** EXTRA SPECIFICS ******** */
.hidden {
  display: none!important;
}
